In [1]:
import pandas as pd

api = pd.read_csv('/Users/Barbara/Desktop/Ironhack/Final_Project/final-project/API/wine_data_from_openfoodfacts.csv')

In [2]:
api

,Name,EcoScore,Countries,Category_1,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Category_10,Category_11,Category_12,Category_13,Category_14,Category_15,Category_16,Category_17
0,"Ovomaltine - Vitamin & Mineral Bars, 5 ct 100g...",37.0,"['en:belgium', 'en:france', 'en:luxembourg', '...",Boissons,Boissons alcoolisées,Snacks,Snacks sucrés,Vins,Cacao et dérivés,Confiseries,Barres,Confiseries chocolatées,Vins français,Barres chocolatées,Alsace Grand Cru,Alsace Grand Cru Saering,NaN,NaN,NaN,NaN
1,Finement pétillante,NaN,['en:france'],Boissons,Boissons alcoolisées,Vins,Boissons gazeuses,Eaux,Eaux de sources,Eaux minérales,Vins effervescents,Eaux gazeuses,Eaux minérales gazeuses,Vins pétillant,en:Boissons Boissons gazeuses Eaux Eaux de ...,NaN,NaN,NaN,NaN,NaN
2,Ain Saiss Eau Minerale Naturelle,NaN,"['en:france', 'en:morocco']",Boissons,Boissons alcoolisées,Vins,Eaux,Vins français,Eaux de sources,Eaux minérales,Ain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Comte,-4.0,['en:france'],Boissons,Boissons alcoolisées,Produits laitiers,Produits fermentés,Produits laitiers fermentés,Vins,Fromages,Vins français,en:cooked-pressed-cheeses,Fromages de France,Comté,Comté Tolosan,en:Aoc-cheeses,en:Labeled-cheeses,Produits labellisés,NaN,NaN
4,Vin blanc sec,32.0,['en:france'],Boissons,Boissons alcoolisées,Vins,Vins blancs,Vins blancs secs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Champagne Rosé,25.0,['en:france'],Boissons,Boissons alcoolisées,Vins,Vins effervescents,Champagnes,Vins rosés,Champagnes rosés,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,Crozes ermitage vieilles vignes,32.0,['en:france'],Boissons,Boissons alcoolisées,Vins,Vins français,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,Vin de Bordeaux,32.0,['en:france'],Boissons,Boissons alcoolisées,Vins,Vins français,Bordeaux,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4998,Cabernet Sauvignon Cevennes,NaN,['en:france'],Boissons,Boissons alcoolisées,Vins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,Vin de france,NaN,['en:france'],Boissons,Boissons alcoolisées,Vins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
api['Category_6'].value_counts()

Category_6
Bordeaux                               159
Vins mutés de type vin doux naturel     94
Champagnes                              93
Vins blancs                             75
Côtes du Rhône                          75
                                      ...
Vin Atlantique rosés                     1
Vin IGP                                  1
Sekt                                     1
Bardolino                                1
Cacao et dérivés                         1
Name: count, Length: 241, dtype: int64

In [4]:
api = api.drop(columns = ['Category_17', 'Category_16', 'Category_15', 'Category_14', 'Category_13', 'Category_12', 'Category_11', 'Category_10', 'Category_9', 'Category_8', 'Category_7', 'Category_6', 'Countries'])

In [5]:
api = api[api['Category_1'] == 'Boissons']

In [6]:
api = api[api['Category_2'] == 'Boissons alcoolisées']

In [7]:
api = api[api['Category_3'] == 'Vins']

In [8]:
# List of categories to drop
categories_to_drop = [
    'Boissons sans alcool', 'Boissons à base de vin', 'Boissons gazeuses', 'Eaux', 
    'Liqueurs', 'Boissons sans sucre ajouté', 'Boissons instantanées', 'Vins de riz'
]

# Filter out rows where 'Category_4' is in the list
api = api[~api['Category_4'].isin(categories_to_drop)]

In [9]:
api

,Name,EcoScore,Category_1,Category_2,Category_3,Category_4,Category_5
4,Vin blanc sec,32.0,Boissons,Boissons alcoolisées,Vins,Vins blancs,Vins blancs secs
6,Martini Rosso,NaN,Boissons,Boissons alcoolisées,Vins,Vins aromatisés,NaN
9,Freixenet,44.0,Boissons,Boissons alcoolisées,Vins,Vins blancs,Vins effervescents
10,Vergers gourmands,31.0,Boissons,Boissons alcoolisées,Vins,Vins français,Bourgogne
11,Veuve Clicquot Champagne Ponsardin Brut,36.0,Boissons,Boissons alcoolisées,Vins,Vins effervescents,Champagnes
...,...,...,...,...,...,...,...
4995,Champagne Rosé,25.0,Boissons,Boissons alcoolisées,Vins,Vins effervescents,Champagnes
4996,Crozes ermitage vieilles vignes,32.0,Boissons,Boissons alcoolisées,Vins,Vins français,NaN
4997,Vin de Bordeaux,32.0,Boissons,Boissons alcoolisées,Vins,Vins français,Bordeaux
4998,Cabernet Sauvignon Cevennes,NaN,Boissons,Boissons alcoolisées,Vins,NaN,NaN
4999,Vin de france,NaN,Boissons,Boissons alcoolisées,Vins,NaN,NaN

In [10]:
api.isna().sum()

Name           128
EcoScore       859
Category_1       0
Category_2       0
Category_3       0
Category_4     634
Category_5    1790
dtype: int64

In [11]:
api.duplicated().sum()

2171

In [12]:
# Remove duplicate rows, keeping the first occurrence
api= api.drop_duplicates()

# Optionally, you can reset the index
api = api.reset_index(drop=True)

In [13]:
api

,Name,EcoScore,Category_1,Category_2,Category_3,Category_4,Category_5
0,Vin blanc sec,32.0,Boissons,Boissons alcoolisées,Vins,Vins blancs,Vins blancs secs
1,Martini Rosso,NaN,Boissons,Boissons alcoolisées,Vins,Vins aromatisés,NaN
2,Freixenet,44.0,Boissons,Boissons alcoolisées,Vins,Vins blancs,Vins effervescents
3,Vergers gourmands,31.0,Boissons,Boissons alcoolisées,Vins,Vins français,Bourgogne
4,Veuve Clicquot Champagne Ponsardin Brut,36.0,Boissons,Boissons alcoolisées,Vins,Vins effervescents,Champagnes
...,...,...,...,...,...,...,...
2709,Vin biologique Cévennes IGP,NaN,Boissons,Boissons alcoolisées,Vins,NaN,NaN
2710,Domaine Bunan Bandol,32.0,Boissons,Boissons alcoolisées,Vins,Vins français,Bandol
2711,Crozes ermitage vieilles vignes,32.0,Boissons,Boissons alcoolisées,Vins,Vins français,NaN
2712,Cabernet Sauvignon Cevennes,NaN,Boissons,Boissons alcoolisées,Vins,NaN,NaN
2713,Vin de france,NaN,Boissons,Boissons alcoolisées,Vins,NaN,NaN

In [16]:
api.describe()

          EcoScore
count  2282.000000
mean     38.967134
std       9.563524
min       2.000000
25%      32.000000
50%      38.000000
75%      45.000000
max      65.000000

In [17]:
# Save the DataFrame to a CSV file
output_path = "/Users/Barbara/Desktop/Ironhack/Final_Project/final-project/API/cleaned_api.csv"
api.to_csv(output_path, index=False)